h1,
h2 {
  text-align: center;
}

li {
    text-align: center;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }

  .container {
    text-align: center;
  }

  #pics {
    width:50%;
  }